/*!
Theme Name: inpact test
Author: tomohara
Description: Description
*/
// ここに書いたスタイルシートをstylusでコンパイルしてテーマ直下のstyle.cssに出力
@charset 'utf-8'

@require 'text-styles.styl';
@require 'reset.styl';
@require 'vars.styl';



