.text {
    font-size: 1.6rem;

    &.sm {
        font-size: 1.2rem;
    }

    &.lg {
        font-size: 1.8rem;
    }
}

.title {
    font-size: 2.2rem;
    color: $text;

    &.sm {
        font-size: 2rem;
    }

    &.lg {
        font-size: 3rem;
    }
}
//会社名と各ページのタイトル
.title {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold; 
}